<div :class="{ 'cursor-not-allowed': disabled }">
    <div class="Input__select" :class="{ 'open': hasFocus }">
        <div class="Input__select__input Form__control">
            <input :class="{ 'cursor-not-allowed': disabled }" :disabled="disabled" v-model="displayText" @focus="onFocus" @blur="onBlur | debounce 300" autocomplete="off" tabindex="" :placeholder="placeholder">
        </div>
        <div v-if="model" class="Input__select__dropdown" :class="{ 'open': hasFocus }">
            <div class="Input__select__dropdown__content">
                <div v-for="option in options | filterBy filterKey in name" track-by="$index" @click.prevent="select( option )" class="option" :class="{ 'selected': option==model }">{{ option[ name ] }}</div>
            </div>
        </div>
    </div>
</div>
