<div class="Field__image">
    <imagepicker :selected="[ model ]" v-ref:imagepicker></imagepicker>
    <a href="#" class="Link__naked" @click.prevent="$refs.imagepicker.open()">
        <div v-if="model"
            class="Field__image__content"
            :style="{
                'background-image': 'url(' + imagePath + ')',
            }">
            <i v-if="!model" class="fa fa-picture-o center-hard"></i>
        </div>

        <div v-if="!model"
            class="Button__add Button__add--square Button__add--default bg-gray-lighter material-paper-on-hover Margin__bottom">
            <div class="Button__add__content">
                <div>
                    <i class="fa fa-picture-o"></i>
                </div>
            </div>
        </div>
    </a>

    <!-- <div v-if="remove" @click="remove( $index )" class="Button Button--danger Button--block Margin__bottom">Delete</div> -->
</div>
