@import './Color';
@import './Coordinates';
@import './ImagePicker';
.Button
    display: inline-block;
    text-align: center;
    padding: 6px 12px;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    border: 0;
    font-size: .9em;
    cursor: pointer;
    &--primary
        background-color: #0596d5;
    &--default
        background-color: #cacaca;

.Form__control
    display: block;
    width: 100%;
    font-size: .9em;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 9px;
    box-sizing: border-box;
    margin-bottom: 12px;
