@import '../../node_modules/@lassehaslev/vue-imagepicker/src/styles/ImagePicker';
.InputImagePicker
    &__Image__content
        width: 100%;
        background-color: gray
        background-size:contain
        background-position:center center
        background-repeat: no-repeat
        padding-bottom: 100%;
